<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Chicago Huntsmen</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Call Of Duty Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home"> Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="teams"> Teams</a>
                </li>
                {% if session['logged in']==True %}
                <li class="nav-item">
                    <a class="nav-link " href="logout"> Logout</a>
                </li>
                {% else%}
                <li class="nav-item">
                    <a class="nav-link " href="login"> Login/Register</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="aboutus"> GuestBook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="leaderboard"> Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="player"> Player</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-4">
                <h1 class="text-center">Chicago Huntsmen</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 mt-4">
                <img src="/static/images/chicago1.jpg" alt="" height="120px" />
            </div>
            <div class="col-lg-9 mt-4">
                <p>
                    We are the Huntsmen. We are Chicago.
                    We’ve always been on the hunt for glory, but to make it, we’ve had to out hustle everyone. No rest,
                    no days off, always
                    another mountain to climb.

                    Like the land we come from, we are ready for anything; rain, wind, sun or snow we’ve been through it
                    all and have the
                    scars to prove it. The Huntsmen are more than just the biggest names in the game. The Huntsmen are
                    tenacious. The
                    Huntsmen are champions.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-9">
                <p>
                    Life will give you just enough to be comfortable. We’re never comfortable, because to achieve
                    greatness you must become
                    the Huntsmen, not the hunted.
                    With the old T2P duo of Formal and Scump returning, this can be devastating for all other teams. As
                    last time this duo was teamed up, they won 20 tournaments together.
                </p>
            </div>
            <div class="col-lg-3">
                <img src="/static/images/chicago2.jpg" alt="" height="150px">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <h2 class="font-weight-bold text-center">Meet the Team</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <img src="/static/images/Gunless.png" height="350px" alt="">
            </div>

            <div class="col-lg-4">
                <img src="/static/images/Scump.png" height="350px" alt="">

            </div>
            <div class="col-lg-4">
                <img src="/static/images/FormaL.png" height="350px" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 ">
                <img src="/static/images/Arcitys.png" height="350px" alt="">
            </div>

            <div class="col-lg-6">
                <img src="/static/images/Envoy.png" height="350px" alt="">

            </div>

        </div>
        <br><br>
        {% block content %}
        {% if session['logged in']==True %}
        <span>ADD COMMENTS</span>
        <hr>
        <form action="{{ url_for('huntsmencomments') }}" method="POST" id="commentuser">
            <div class="row">
                <div class="col-md-2">
                    <label class="sr-only" for="name">Name</label>
                </div>
                <div class="col-md-4 col-md-offset-6">
                    <input type="text" name="name" id="name" class="form-control sr-only"
                        value="{{session['username']}}" required>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-2">
                    <label for="">Comment</label>
                </div>
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel-body">
                            <textarea class="form-control" placeholder="Write a comment..." rows="3" name="comment"
                                required></textarea>
                            <br>
                            <button type="submit" class="btn btn-info pull-right">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <hr>

        <span>COMMENTS</span><br><br><br>
        {% for postcomments in entries %}
        <div class="row">

            <div class="col-lg-1 mt-2 randomColor rounded-circle">
            </div>
            <div class=" col-lg-8 col-lg-offset-3">
                <label class="text-info">{{ postcomments[0]}}</label>
                <br>
                <textarea class="form-control bg-white" rows="2" disabled>{{ postcomments[1]}}</textarea>

            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <p>You are not logged in, in order to view comments please login in</p>
            </div>
        </div>
        {% endif %}
        {% endblock %}
    </div>
    <script>
        var element = document.getElementsByClassName("randomColor");

        for (var x = 0; x < element.length; x++) {
            var letters = "0123456789ABCDEF";
            var coloring = '#';

            for (var i = 0; i < 6; i++)
                coloring += letters[(Math.floor(Math.random() * 16))];
            element[x].style.background = coloring;

        }

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>